body{
    text-align: center;
    background-color: #f0afda;
}

h1{
    color:darkblue;
    font-family: 'Lobster', cursive;

}

h2{
    color:black;
    font-family: 'Sansita Swashed', cursive;
}